// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
  font-family: 'Nanum Gothic', sans-serif;
  //font-weight: bold;
}
.category{
  .btn-tag{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
  }
  .active{
    color: #3271e6;
  }
}